<div class="row">
    <div class="col m12">
        <h1>IP Question Board</h1>
    </div>

    <div class="col m12">
         <h5>Ask our best Codemancers anything, anytime, anonymously!</h5>
    </div>
</div>

<%= render partial: "questions/form", locals: { question: @question } %>
