// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    color: white;

    background-image: url("main-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#message {
    color: white;
    height: 115px;
}

#send-question-button{
    margin-top: 40px;
}

div.toast-text{
    i{
        margin-left: -40px;
        padding-right: 80px;
    }
}